/*User art CSS

ul {
    list-style-position:
}*/


ul {
    list-style: none; 
    padding: 20px;
}

h3 {
    padding-top: 200px;
}

/*Masters Art*/
.row {
    padding:25px;
}

#master-gallery {
    padding-top: 200px;
}
